.navbar-brand {
    display: flex;
    align-items: flex-end;
}

.text-black-border {
    -webkit-text-stroke: 1px black;
}

.spade-small {
    height: 30px;
}

.navbar-site-title {
    margin-bottom: 0;
    line-height: initial;
    padding-left: 5px;
}

.hero-wrapper {
    background: black;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/royal-flush.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
}

.btn-primary {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #222021;
    border-color: white;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(0,0,0,.5);
}

.card-header {
    background-color: black;
    color: white;
}

.card-contents {
    padding: 5px 10px 5px;
    margin-bottom: 0;
}