.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    min-height: 225px;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container a {
    text-decoration: underline;
}


a.card-wrapper {
    text-decoration: none;
}

.listing-wrapper {
    border: 1px darkgray solid;
    margin-bottom: 10px;
    padding: 10px 0;
}

.listing-wrapper.unpublished {
    background-color: lightgray;
}

.container .btn {
    text-decoration: none
}

.carousel-item img {
    object-fit: cover;
    height: 400px;
    opacity: .5;
}

.form-group {
    margin-bottom: 10px;
}