h1 {
    /* styles here apply to all breakpoints unless overridden */
    font-size: 14px;
    color: teal; 
    text-align: center; /* doesn't get overridden */
    background-color: aquamarine;
}
 
@media screen and (min-width: 480px) {
  h1 {
    font-size: 24px; /* overrides 14px at 480px */ 
    background-color: white; /* overrides aquamarine, doesn't get overridden */
  }
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: left; /* doesn't get overridden */
    font-size: 30px; /* overrides 24px at 768px */
    color: purple;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    color: cyan;
    background-color: yellow;
  }
} 